<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>

<body>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Artist Name</th>
        <th scope="col">Album Name</th>
        <th scope="col">Track Name</th>
        <th scope="col">Composer</th>
        <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="info: ${result}" >
        <td  class="table-primary" th:text=" ${info.getArtistName} "></td>
        <td  class="table-primary" th:text=" ${info.getAlbumName} "></td>
        <td  class="table-primary" th:text=" ${info.getTrackName} "></td>
        <td  class="table-primary" th:text=" ${info.getComposer} "></td>
        <td  class="table-primary" th:text=" ${info.getGenreName} "></td>
    </tr>
    </tbody>
</table>


</body>
</html>




